.chatArea {
  background: white;
  width: 600px;
  border-radius: 20px;
  height: calc(100vh - 40px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    &__small {
      border-radius: 20px 20px 0 0;
      background: rgb(26 151 205);
      padding: 10px;
    }

    &__big {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgb(41 173 228);

      &__header {
        font-weight: bold;
      }
    }
  }


  .messageArea {
    background: white;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;

    &__warning {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 30px;
      color: black;
      height: 100%;
    }
  }

  .enterArea {
    border-top: 2px solid rgba(219, 219, 219, 0.65);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

